<h2>Sign up</h2>

<div class="col-sm-2 form-group">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
      <%= f.email_field :email, class: 'form-control', placeholder: 'email', :autofocus => true %></div>

      <div>
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %></div>

      <div>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation' %></div>
      <p><%= f.check_box :send_email %> <class="control-label">send email</label></p></br>

     <div>
      <%= f.text_field :phone_number, class: 'form-control', placeholder: 'phone number (optional)'%></div>

    <div>
      <%= f.select :carrier, options_for_select(%w[  AT&T Verizon Sprint T-Mobile USCellular], f.object.carrier), {include_blank: 'carrier (if applicable)'}, {class: "form-control"} %></div>
        <p><%= f.check_box :send_sms %> <class="control-label">send sms</label></p></br>
      
      <div><%= f.submit "Sign up", class: 'btn btn-info' %></div>
    <% end %>
<!--     </div> -->

  </br>
    <%= render "devise/shared/links" %>
  </br>
    <%= mail_to('hello@onebreath.io', 'Contact us') %>

</div>
