<div class="col-sm-6 form-group" style="width: 20%">
  <% if current_user %>
     Hello <%= link_to (current_user.email), edit_user_registration_path %>
 </br>
     <%= mail_to('hello@onebreath.io', 'Contact us') %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <br></br>


    <p>
   
        <% if @user.errors.any? %>
           <div class="alert alert">
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
           </div>
        <% end %>

    <%= form_for @user do |f| %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'email' %> 
            <p class="emailCheckbox">
            <%= f.check_box :send_email %><class="control-label">&nbsp;send email</label></p>
            <p><%= f.text_field :phone_number, class: 'form-control', placeholder: 'phone number' %>
            <%= f.select :carrier, options_for_select(%w[  AT&T Verizon Sprint T-Mobile USCellular], f.object.carrier), {include_blank: 'carrier (if applicable)'}, {class: "form-control"} %><p>
            <p class="smsCheckbox"> 
            <%= f.check_box :send_sms %><class="control-label">&nbsp;send sms</label><p/>
            <p><%= f.submit 'Save', class: 'btn btn-info btn-margin' %></p>
    <% end %></p>

</br>
    <% if @user.sms_verification_code != @user.sms_verification_code_conf %>
        Please <%= link_to "verify", users_verify_sms_path %> your phone number
    <% end %>

 <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    or
    <%= link_to "Sign in", new_user_session_path %>

 <% end %>

</div>
