</br>

<% if current_user %>
</br>
</br>
</br>
    <%= form_for @user do |f| %>
    <%= devise_error_messages! %>

    <div class="col-sm-6 col-sm-offset-3 input-container">
      <label for="email" class="control-label"> </label>
      <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
      <p><%= f.check_box :send_email %><class="control-label">&nbsp;send email</label></p>
    </div>

    <div class="col-sm-6 col-sm-offset-3 input-container">
      <label class="control-label"> </label>
      <%= f.text_field :phone_number, class: 'form-control', placeholder: 'phone number (optional)'%>
    </div>

    <div class="col-sm-6 col-sm-offset-3 input-container">
      <%= f.select :carrier, options_for_select(%w[  AT&T Verizon Sprint T-Mobile USCellular], f.object.carrier), {include_blank: 'carrier (if applicable)'}, {class: "form-control"} %>
      <p><%= f.check_box :send_sms %><class="control-label">&nbsp;send sms</label></p></br>
      </div>

    <div class="col-sm-6 col-sm-offset-3 input-container">
      <%= f.submit 'Update', class: 'btn btn-info' %>
    </div>
  <% end %>

<% else %>
</br>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="col-sm-6 col-sm-offset-3 input-container">
        <label class="control-label"> </label>
        <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>

        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation'%>
      
      <p><%= f.check_box :send_email %> <class="control-label">send email</label></p>
      </div>

      <div class="col-sm-6 col-sm-offset-3 input-container">
        <label class="control-label"> </label>
        <%= f.text_field :phone_number, class: 'form-control', placeholder: 'phone number (optional)'%>

        <%= f.select :carrier, options_for_select(%w[  AT&T Verizon Sprint T-Mobile USCellular], f.object.carrier), {include_blank: 'carrier (if applicable)'}, {class: "form-control"} %>
        
        <p><%= f.check_box :send_sms %> <class="control-label">send sms</label></p></br>

        <%= f.submit "Sign up", class: 'btn btn-info' %>
      </div>
    <% end %>

<% end %>