<h2>Sign in</h2>

<div class="col-sm-2 form-group">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div>
      <%= f.email_field :email, class: 'form-control', placeholder: 'email', :autofocus => true %></div>

      <div>
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %></div>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <class="control-label">Remember me</label></p>
      <% end -%>

      <div><%= f.submit "Sign in", class: 'btn btn-info btn-margin' %></div>
    <% end %>

  </br>
    <%= render "devise/shared/links" %>
  </br>
    <%= mail_to('hello@onebreath.io', 'Contact us') %>

</div>
