 
 <!DOCTYPE html>
<html>
<head>
  <title>Breath</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50789509-1', 'onebreath.io');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <% if current_user %>
    <center><div type= "btn-circle">
      <%=link_to ' ', root_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', welcome_launch_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', edit_profile_path, :class => 'btn btn-circle' %>
    </div><center>
  <% else %>
    <center><div type= "btn-circle">
      <%=link_to ' ', root_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', welcome_launch_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', new_user_session_path, :class => 'btn btn-circle' %>
    </div><center>
  <% end %>
      <% if flash[:notice] %>
       <div class="col-md-3 col-centered">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
       </div>
      <% elsif flash[:error] %>
       <div class="col-md-3 col-centered">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
       </div>
      <% elsif flash[:alert] %>
       <div class="col-md-3 col-centered">
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
       </div>
      <% end %>

<%= yield %>

</body>
</html>
