 
 <!DOCTYPE html>
<html>
<head>
  <title>Breath</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if current_user %>
    <center><div type= "btn-circle">
      <%=link_to ' ', root_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', welcome_launch_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', edit_user_path(current_user), :class => 'btn btn-circle' %>
    </div><center>
  <% else %>
    <center><div type= "btn-circle">
      <%=link_to ' ', root_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', welcome_launch_path, :class => 'btn btn-circle' %>
      <%=link_to ' ', new_user_session_path, :class => 'btn btn-circle' %>
    </div><center>
  <% end %>
      <% if flash[:notice] %>
       <div class="col-md-3 col-centered">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
       </div>
      <% elsif flash[:error] %>
       <div class="col-md-3 col-centered">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
       </div>
      <% elsif flash[:alert] %>
       <div class="col-md-3 col-centered">
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
       </div>
      <% end %>

<%= yield %>

</body>
</html>
